.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
    background-color: #2A2C2F;
    color: white;
    max-width: 1280px;
    width: 100%;
    height: auto;
    min-width: 280px;
}