.places {
    margin: 0 auto;
    max-width: 984px;
    width: 100%;
    min-height: 200px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .places {
       max-width: 928px;
    }
   
    
    }
    
    @media screen and (max-width: 768px) {
        .places {
       max-width: 720px;
        }
    

    }
    
    @media screen and (max-width: 320px) {

        .places {
       max-width: 320px;
        }
    }