@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");

.lead {
    font-family: 'Inter', Arial, sans-serif;
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

    .lead {
      max-width: 1024px;
      width: 100%;
      padding-left: 48px;
      padding-right: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
  
      .lead {
        padding-left: 0px;
        padding-right: 0px;
        }
  }
  
  @media screen and (max-width: 320px) {
  
      .lead {
        padding-left: 0px;
        padding-right: 0px;
       }
  }