.cover__subtitle{
    margin-top: 32px;
    font-size: 18px;
    line-height: 22px;
    max-width: 328px;
    text-align: center;
}

@media screen and (max-width: 320px) {

    .cover__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    }