@import url("./__lang-link/header__lang-link.css");
@import url("./__logo/header__logo.css");
@import url("./__lang-link/_state_active/header__lang-link_state_active.css");

.header {
    display: flex;
    margin: auto;
    padding-top: 34px;
    max-width: 984px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
      max-height: 44px;
      padding-top: 34px;
      padding-right: 48px;
      padding-bottom: 50px;
      padding-left: 48px
    }
}

@media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
      max-height: 44px;
      padding: 34px 24px 50px;
    }
}

@media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
      max-height: 36px;
      padding: 20px 16px 50px;
    }

}