.place__paragraphs {
  grid-area: paragraphs;
  margin: 0;
  padding: 0;
}

.place__paragraph {
  margin: 0;
  margin-bottom: 24px;
  list-style-type: none;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:nth-of-type(2) {
  margin: 0;
  margin-bottom: 24px;
  list-style-type: none;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}