.footer__link {
    text-decoration: none;
    color: white;
    margin: 0 18px 0;
    padding: 0;
    display: inline;
}

@media screen and (max-width: 320px) {

    .footer__link {
        align-self: flex-start;
        margin-bottom: 22px;
        margin-left: 0px;
        display: block;
        align-self: flex-start;
    }

}