.footer__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: white;
    margin: 0;
    margin-right: 18px;
    padding: 0;
    display: inline;
}

@media screen and (max-width: 320px) {

    .footer__link {
        align-self: flex-start;
        margin-bottom: 22px;
        margin-left: 0px;
        display: block;
        align-self: flex-start;
    }

}