@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__list/_type_normal/intro__list_type_normal.css");

.intro {
display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 690px;
margin-left: 100px;
margin-top: 92px;
height: auto;
}

@media screen and (max-width: 1024px) {
.intro {
    padding-left: 48px;
    margin-top: 92px;
    margin-bottom: 92px;

}

}

@media screen and (max-width: 768px) {
.intro {
    margin: 88px 24px;
    max-width: 720px;

}

}

@media screen and (max-width: 320px) {
 .intro {
     margin: 64px 16px;
 }

}