.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 64px;
    max-width: 620px;
    font-size: 30px; 
    line-height: 36px;
    text-align: center;
    max-width: 620px;
}

@media screen and (max-width: 1024px) {

    .lead__subtitle {
      padding-left: 202px;
      padding-right: 202px;
    }
}

@media screen and (max-width: 768px) {

    .lead__subtitle {
        padding-left: 74px;
        padding-right: 74px;
      }
    }


@media screen and (max-width: 320px) {

        .lead__subtitle {
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            line-height: 20px;
          }
        }