@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");

.footer {
    display: flex;
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
}
}
@media screen and (max-width: 320px) {

    .footer {
        min-height: 198px;
        flex-direction: column;
        margin: 0;
    }

}
